<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% for variant in product.variants %}

    {% unless cartItems contains variant.id %}
    {% if variant.options contains '15 Servings' %}
    <div class="product_list--item">
        {%- assign product_form_id = 'product-form-' | append: variant.id -%}
        <product-form class="product-form">  
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}   
            
                <a href="{{ variant.url | default: '#' }}" class="product_list--item--image full-unstyled-link">
                {{ variant.featured_image | image_url: width: 120 | image_tag: srcset: nil, loading: 'lazy' }}
                </a>
                <div class="product_list--item--details">
                    <a href="{{ variant.url | default: '#' }}" class="product_list--item--title full-unstyled-link">
                        <h2 class="h4 product_title">{{ product.title }}</h2>
                        <span class="product-option">{{ variant.title | remove: '/ 15 Servings' }}</span>
                    </a>
                    {% render 'price', product: product, price_class: '', use_variant: true,  variant: variant %}
                </div>
                <div class="product_list--item--button">
                    <input class="quantity__input"
                        type="hidden"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        value="1"
                    >
                    <input class="quantity__input"
                        type="hidden"
                        name="id"
                        value="{{ variant.id }}"
                    >
                    <button type="submit" name="add" class="button--small button button--primary">
                        <span>
                            Add
                        </span>
                        <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                        </div>
                    </button>
                </div>
            {% endform %}
        </product-form>
    </div>
    {% endif %}
    {% endunless %}
{% endfor %}
